


<%= form_for @messages do |f| %>
  <% if @messages.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@messages.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @messages.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <font size="5pt"><%= f.label :name %></font><br/>
    <%= f.text_field :name %>
  </div><br/>
  <div class="field">
    <font size="5pt"><%= f.label :last %></font><br/>
    <%= f.text_field :last %>
  </div><br/>
  <div class="field">
    <font size="5pt"><%= f.label :email %></font><br/>
    <%= f.text_field :email %>
  </div><br/>
  <div class="field">
    <font size="5pt"><%= f.label :phone %></font><br/>
    <%= f.number_field :phone %>
  </div><br/>
  <div class="field">
    <font size="5pt"><%= f.label :message %></font><br/>
    <%= f.text_area :message , size: "60x10" %>
  </div><br/>
  <div class="actions" font size="10pt">
    <%= f.submit "Submit"%>
  </div><br/>
<% end %>


