<p id="notice"><%= notice %></p>

<p>
  <u><strong>Name:</strong></u>
  <%= @messages.name %>
</p>

<p>
  <u><strong>Last:</strong></u>
  <%= @messages.last %>
</p>

<p>
  <u><strong>Email:</strong></u>
  <%= @messages.email %>
</p>

<p>
  <u><strong>Phone:</strong></u>
  <%= @messages.phone %>
</p>

<p>
  <u><strong>Messages:</strong></u>
  <%= @messages.message %>
</p>

<font size="5pt"><b><%= link_to 'Edit', edit_message_path(@messages) %></b></font> <font size="5pt"><b>|</b></font>
<font size="5pt"><b><%= link_to 'Back', messages_path %></b></font>
