
<div class="-form" style="float:center"><br style="clear:center" /><br style="clear:center" /> 

<%= form_for @sampleform do |f| 
<p>
  <%= f.label :firstname %>
  <%= f.text_field :firstname %><br /><br/>
</p>

<p>
  <%= f.label :lastname %>
  <%= f.text_field :lastname %><br /><br/>
</p>
<p>
<%= f.label :gender%>
<%= f.radio_button :gender, "Male", :checked => true %>Male
<%= f.radio_button :gender, "Female" %>Female
</p>
<p>
   <%= f.label :phone %>
  <%= f.text_field :phone %><br /><br/>
</p>
<p>
   <%= f.label :country %>
  <%= f.select :country,["Madagascar","USA","CapeTown"] %><br /><br/>
</p>
<p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %><br /><br/>
</p>
  <%= f.label :message %>
  <%= f.text_area :message ,size: "60x10" %><br/><br/>
</p>
  <%= f.submit"Submit" %>
<% end %>
<div style="float:center"><br style="clear:center" /><br style="clear:center" /> 
</p>------------------------- Keep Smile -------------------------</p></div>
<hr><hr>